
/*
 * Navegación
 */


.cabe ul {
	float: right;
	list-style: none;
	
}

	.cabe ul li {
		display: inline-block;
		
	}
		
		.cabe ul li a {
			display: block;
			padding: 0 10px;
			/* background-color: antiquewhite; */
		}
	
			.cabe ul li a:hover {
				background: #0b76a6;
			}

			.container-pdf1{
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin-bottom: 100px;
			  }
			  @media (min-width: 300px) and (max-width: 900px){
				.container-pdf1{
				  display: flex;
				  flex-direction: column;
				  justify-content: center;
				  align-items: center;
				}
				
			}