
/*
 * Navegación
 */


.cabe ul {
	float: right;
	list-style: none;
	
}

	.cabe ul li {
		display: inline-block;
		
	}
		
		.cabe ul li a {
			display: block;
			padding: 0 10px;
			text-decoration: none;
			background-color: antiquewhite;
		}
	
			.cabe ul li a:hover {
				background: #0b76a6;
			}


