* {
  /* height: ; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image:url("../img/Banner-CU.png") ;
  background-repeat: no-repeat;
  background-position: center center ;
  background-size: 100%;
}

h1{
  color: white;
}

.text h3{
  color: antiquewhite;
}

a{
  font-size:larger;
  font-family: 'Hind Siliguri', sans-serif;
  color: rgb(153, 153, 0);
  text-decoration: none;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto Slab', serif;
  background-color: rgb(255, 255, 255);
}

.navigation-container a{
  color: khaki;
}

/*Navbar*/
.navbar {
  /* position: fixed; ARREGLAR ACÁ PARA QUE SE PUEDA FIJAR EL MENU */ 
  width: 250px;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:black;
  color: aliceblue;
  
}

.logo-navbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.navigation-container a:hover{
  background-color:rgb(26, 26, 26);
  
}

.logo-img {
  border-radius: 50%;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  justify-content: space-around;
  align-items: flex-end;
}

.content-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
}

  


header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 2em;
}

.title {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.title-logo {
  border-radius: 20px;
}

.info {
  margin: 16px 0;
}

.info-profes {
  display: flex;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  justify-content: center;
  margin-bottom: 24px;
}

.profe-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

footer {  
  text-align: center;
}


